*{
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    padding: 24px 0px!important;
    background-color: #dadbd4;
}

main{
    height: 100%;
}

header{
    height: 160px;
    background-color: #009688;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.avatar img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    object-fit: cover;
}

.avatar img.small{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.side-msg-container{
    width: 440px;
}

.chat-container{
    width: calc(100% - 440px);
}

.top-bar, .selected{
    background-color: #eaeaea;
}

.top-bar{
    position: relative;
    z-index: 10;
}

.icons {
    font-size: 18px;
    gap: 12px;
    display: flex;
    color: #9a9a9a;
}

.chat-container .top-bar{
    border-left: 1px solid #cccccc;
}

.small-text{
    font-size: 12px;
}

.banner{
    background-color: #8fdafc;
}

i.bi.bi-bell-slash {
    font-size: 20px;
    padding: 16px;
    background-color: #fff;
    border-radius: 50%;
    color: #8fdafc;
}

.chat-container{
    position: relative;
}

.msg-container{
    margin: 16px 0px;
}

.msg {
    display: inline-block;
    padding: 16px 68px 20px 12px;
    border-radius: 8px;
    position: relative;
}

.msg.sent{
    background-color: #d5f9ba;
}

.msg.received{
    background-color: #fff;
}

.inner-chat{
    background-image: linear-gradient(0deg, rgba(229, 221, 213, 0.7)0%, rgba(229, 221, 213, 0.7)100%), url("https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg");
    overflow: auto;
    height: calc(100% - 54px);
}



span.chat-time {
    position: absolute;
    right: 4px;
    bottom: 4px;
    font-size: 10px;
}

.delete{
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 10px;
}

.delete-modal{
    position: absolute;
    right: 10px;
    top: 16px;
    background-color: white;
    padding: 24px 10px;
    text-align: left;
    z-index:200;
}

.delete-modal p:first-child{
    margin-bottom: 24px;
}



.bottom-bar{
    background-color: #f3eeeb;
}

.avatar-list{
    height: calc(100% - 211px);
    overflow: auto;
}
